{% extends 'basic_app/master.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">

            <h1>Please login</h1>

            <div class="mt-5 row justify-content-center">

                <div class="col-4 px-3 py-2">

                    <form action="{% url 'basic_app:login' %}" method="POST">

                        {% csrf_token %}

                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" class="form-control" id="username" name="username">
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                </div>
                            </div>

                            <div class="col-12">
                                <button class="btn-primary btn btn-block">Login</button>
                            </div>
                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

{% endblock %}