{% extends 'basic_app/master.html' %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-12">

            {% if registered %}
                <h1>Thank you for registering!</h1>
            {% else %}
                <h1>Register</h1>
                <h3>Fill out the form</h3>

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                {{ user_form.first_name.label_tag }}
                                {{ user_form.first_name }}
                                {{ user_form.first_name.errors }}
                            </div>
                            <div class="form-group">
                                {{ user_form.last_name.label_tag }}
                                {{ user_form.last_name }}
                                {{ user_form.last_name.errors }}
                            </div>
                            <div class="form-group">
                                {{ user_form.email.label_tag }}
                                {{ user_form.email }}
                                {{ user_form.email.errors }}
                            </div>
                            <div class="form-group">
                                {{ user_form.username.label_tag }}
                                {{ user_form.username }}
                                {% if user_form.username.errors %}
                                    {{ user_form.username.errors }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ user_form.password.label_tag }}
                                {{ user_form.password }}
                                {{ user_form.password.errors }}
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                {{ user_profile_form.portfolio_site.errors }}
                                {{ user_profile_form.portfolio_site.label_tag }}
                                {{ user_profile_form.portfolio_site }}
                            </div>
                            <div class="form-group">
                                {{ user_profile_form.profile_picture.errors }}
                                {{ user_profile_form.profile_picture.label_tag }}
                                {{ user_profile_form.profile_picture }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            {% endif %}

        </div>
    </div>
{% endblock %}
